<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Virtual Museum</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <td><h1>Item Name</h1></td>
          <td><h1>Artist</h1></td>
          <td><h1>Type</h1></td>
          <td><h1>Location</h1></td>
          <td><h1>Images</h1></td>

        </tr>
      </thead>

      <tbody>
        <% data.forEach((item) => { %>

          <tr>
            <td><%= item.name %></td><td>
            <% data3.forEach((artistInfo) => {
              if(artistInfo.item_id === item.id){ %>
            <%= artistInfo.artist %><br><br>
            <% }}); %>
            </td>
            <td><%= item.type %></td>
            <td><%= item.location %></td>
            <% data2.forEach((image) => {
              if(image.item_id === item.id){ %>
            <td><img src="<%= image.image_url %>" /></td>
            <% }}); %>

          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>

<!-- <% data.forEach((item) => { %>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
          <img class="article-image" src=" images/example-work01.jpg" border="0" alt="">
      </div>
      <div class="mdl-card__title">
          <h1 class="mdl-card__title-text"><%= item.name %></h1>
      </div>
      <div class="mdl-card__supporting-text">
          By: <%= item.artist_name %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.type %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.culture %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.collection %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.story %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.description %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.additional %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.dimensions %>
      </div>
      <div class="mdl-card__supporting-text">
          <%= item.reference_id %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
      </div>
  </div>
  <% }); %> -->
